.container{
  width: 100%;
  display: flex;
}
.container.start,.container.left{
  justify-content: flex-start;
}
.container.end,.container.right{
  justify-content: flex-end;
}
.container.center,.container.middle{
  justify-content: center;
}
.score{
  line-height: 25px;
  color: #ccc;
  font-size: 25px;
  cursor: pointer;
}
.score a.on{
  color:#f90;
}